<% if(render ==='tpl'){ -%>
<template>
  <DocumentHead title="文章" />
  <NavBar title="文章列表" />
  <div :class="[$style.root, 'g-page-content']">
    <template v-if="listSearch && list && listSummary">
      <SearchBar :keyword="listSearch.keyword" @submit="onSearch" @create="onCreate" />
      <div ref="scrollDiv" class="article-list">
        <div v-for="item in list" :key="item.id" class="article-item">
          <Link class="article-title" :route="`/article/detail/${item.id}`" root<%= platform === 'ssr' ? ' :href="`/article/detail/${item.id}`"' : '' %>>
            {{ item.title }}
          </Link>
          <Link class="article-summary" :route="`/article/detail/${item.id}`" root<%= platform === 'ssr' ? ' :href="`/article/detail/${item.id}`"' : '' %>>
            {{ item.summary }}
          </Link>
          <div class="article-operation">
            <div class="item" @click="onEditItem(item.id)">修改</div>
            <div class="item" @click="onDeleteItem(item.id)">删除</div>
          </div>
        </div>
        <Pagination :total-pages="listSummary.totalPages" :page-current="listSummary.pageCurrent"<%= platform === 'ssr' ? ' baseUrl="/article/page/0"' : '' %> @change="onPageChange" />
      </div>
    </template>
  </div>
  <TabBar selected="article" />
</template>
<% } -%>
<% if(framework ==='reactRedux'){ -%>
import {useCallback, useEffect, useRef, FC} from 'react';
import {DocumentHead, Link, connectRedux, Dispatch} from '@elux/<%= elux %>';
<% }else{ -%>
import {defineComponent, computed, ref, watch, DefineComponent} from 'vue';
import {DocumentHead, Link, exportView, ComputedStore} from '@elux/<%= elux %>';
<% } -%>
import {APPState, GetRouter, Modules<%= framework ==='vueVuex' ? ', useStore' : '' %>} from '@/Global';
import TabBar from '@/components/TabBar.vue';
import NavBar from '@/components/NavBar.vue';
import SearchBar from '../../components/SearchBar.vue';
import Pagination from '../../components/Pagination.vue';
import {ListItem, ListSearch, ListSummary} from '../../entity';
import styles from './index.module.less';

interface StoreProps {
  listSearch?: ListSearch;
  list?: ListItem[];
  listSummary?: ListSummary;
}

<% if(framework ==='reactRedux'){ -%>
function mapStateToProps(appState: APPState): StoreProps {
  const {listSearch, list, listSummary} = appState.article;
  return {listSearch, list, listSummary};
}

const Component: FC<StoreProps & {dispatch: Dispatch}> = ({listSearch, list, listSummary, dispatch}) => {
  const onPageChange = useCallback((pageCurrent: number) => {
    GetRouter().push(`/article/page/${pageCurrent}`);
  }, []);
  const onSearch = useCallback((keyword: string) => {
    const loction = GetRouter().extendCurrent({article: {listSearch: {pageCurrent: 1, keyword}}});
    GetRouter().push(loction);
  }, []);
  const onDeleteItem = useCallback(
    (id) => {
      dispatch(Modules.article.actions.deleteItem(id));
    },
    [dispatch]
  );
  const onEditItem = useCallback((id) => {
    GetRouter().push(`/article/edit/${id}`, true);
  }, []);
  const onCreate = useCallback(() => {
    GetRouter().push(`/article/edit/0`, true);
  }, []);
  const scrollDiv = useRef<HTMLDivElement>(null);
  useEffect(() => {
    if (scrollDiv.current) {
      scrollDiv.current.scrollTop = 0;
    }
  }, [list]);

  return (
    <>
      <DocumentHead title="文章" />
      <NavBar title="文章列表" />
      <div className={`${styles.root} g-page-content`}>
        {listSearch && list && listSummary && (
          <>
            <SearchBar keyword={listSearch.keyword} onSubmit={onSearch} onCreate={onCreate} />
            <div className="article-list" ref={scrollDiv}>
              {list.map((item) => (
                <div key={item.id} className="article-item">
                  <Link className="article-title" route={`/article/detail/${item.id}`} root<%= platform === 'ssr' ? ' href={`/article/detail/${item.id}`}' : '' %>>
                    {item.title}
                  </Link>
                  <Link className="article-summary" route={`/article/detail/${item.id}`} root<%= platform === 'ssr' ? ' href={`/article/detail/${item.id}`}' : '' %>>
                    {item.summary}
                  </Link>
                  <div className="article-operation">
                    <div className="item" onClick={() => onEditItem(item.id)}>
                      修改
                    </div>
                    <div className="item" onClick={() => onDeleteItem(item.id)}>
                      删除
                    </div>
                  </div>
                </div>
              ))}
              <Pagination totalPages={listSummary.totalPages} pageCurrent={listSummary.pageCurrent} onChange={onPageChange} <%= platform === 'ssr' ? 'baseUrl="/article/page/0"' : '' %>/>
            </div>
          </>
        )}
      </div>
      <TabBar selected="article" />
    </>
  );
};

export default connectRedux(mapStateToProps)(Component);
<% }else{ -%>
function mapStateToProps({article}: APPState): ComputedStore<StoreProps> {
  return {
    listSearch: () => article.listSearch,
    list: () => article.list,
    listSummary: () => article.listSummary,
  };
}

const Component: DefineComponent<{}> = defineComponent({
  name: 'ArticleList',
  <%_ if(render ==='tpl'){ -%>
  components: {
    DocumentHead,
    Link,
    NavBar,
    TabBar,
    SearchBar,
    Pagination,
  },
  <%_ } -%>
  setup() {
    const store = useStore();
    const computedStore = mapStateToProps(store.getState());
    const listSearch = computed(computedStore.listSearch);
    const list = computed(computedStore.list);
    const listSummary = computed(computedStore.listSummary);
    const onPageChange = (pageCurrent: number) => {
      GetRouter().push(`/article/page/${pageCurrent}`);
    };
    const onSearch = (keyword: string) => {
      const loction = GetRouter().extendCurrent({article: {listSearch: {pageCurrent: 1, keyword}}});
      GetRouter().push(loction);
    };
    const onDeleteItem = (id: string) => {
      store.dispatch(Modules.article.actions.deleteItem(id));
    };
    const onEditItem = (id: string) => {
      GetRouter().push(`/article/edit/${id}`, true);
    };
    const onCreate = () => {
      GetRouter().push(`/article/edit/0`, true);
    };
    const scrollDiv = ref<Element>();
    watch(list, () => {
      scrollDiv.value && (scrollDiv.value.scrollTop = 0);
    });
    return {listSearch, list, listSummary, scrollDiv, onPageChange, onSearch, onDeleteItem, onEditItem, onCreate};
  },
  <%_ if(render !=='tpl'){ -%>
  render() {
    const {listSearch, list, listSummary, onPageChange, onSearch, onDeleteItem, onEditItem, onCreate} = this;

    return (
      <>
        <DocumentHead title="文章" />
        <NavBar title="文章列表" />
        <div class={`${styles.root} g-page-content`}>
          {listSearch && list && listSummary && (
            <>
              <SearchBar keyword={listSearch.keyword} onSubmit={onSearch} onCreate={onCreate} />
              <div class="article-list" ref="scrollDiv">
                {list.map((item) => (
                  <div key={item.id} class="article-item">
                    <Link class="article-title" route={`/article/detail/${item.id}`} root<%= platform === 'ssr' ? ' href={`/article/detail/${item.id}`}' : '' %>>
                      {item.title}
                    </Link>
                    <Link class="article-summary" route={`/article/detail/${item.id}`} root<%= platform === 'ssr' ? ' href={`/article/detail/${item.id}`}' : '' %>>
                      {item.summary}
                    </Link>
                    <div class="article-operation">
                      <div class="item" onClick={() => onEditItem(item.id)}>
                        修改
                      </div>
                      <div class="item" onClick={() => onDeleteItem(item.id)}>
                        删除
                      </div>
                    </div>
                  </div>
                ))}
                <Pagination totalPages={listSummary.totalPages} pageCurrent={listSummary.pageCurrent} onChange={onPageChange} <%= platform === 'ssr' ? 'baseUrl="/article/page/0"' : '' %>/>
              </div>
            </>
          )}
        </div>
        <TabBar selected="article" />
      </>
    );
  },
  <%_ } -%>
});

export default exportView(Component);
<% } -%>
